<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leitor.universal">

    <application
        android:label="Leitor Universal IA"
        android:theme="@android:style/Theme.Material.Light">

        <activity
    android:name=".MainActivity">
    
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>

</activity>

    </application>
</manifest>
